@page "/AllTournaments"
@inject IStringLocalizer<Language> Localizer
@inject IPigeonTrackingService TrackingService
@inject NavigationManager NavigationManager

<div class="d-flex flex-column flex-nowrap w-100 py-2 animate__animated animate__fadeInRight overflow-hidden">
    <div class="px-2 mb-3 all-tour-title">
        <h4>@Localizer["AllTournaments"]</h4>
    </div>
    <div class="d-flex flex-column flex-nowrap w-100">

        @if (_tournaments == null)
        {
            <pre>@_message</pre>
        }
        else
        {
            foreach (var data in _tournaments)
            {
                <div class="d-flex flex-row align-items-center w-100 p-2 border-bottom">
                    <div class="text-muted">
                        @if (data.TournamentType == TournamentType.Tournament)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
                                <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                            </svg>
                        }
                        else
                        {
                            <img src="/images/icons8-training-64.png" width="32" height="32" class="user-select-stop"/>
                        }
                    </div>
                    <div class="d-flex align-items-center mx-2 flex-grow-1 border-right px-2 cursor-btn" @onclick='() => NavigationManager.NavigateTo($"/ViewTournament/{data.Id}")'>
                        <div class="d-flex flex-column w-100">
                            <h5>@data.Name</h5>
                            <div class="d-flex flex-row flex-wrap justify-content-start text-muted fs-0-5">
                                <span>@Localizer["Start"] : @data.StartsFrom.ToString("dd MMMM yyyy")</span>
                                <span class="ms-2">@Localizer["End"] : @data.EndTo.ToString("dd MMMM yyyy")</span>
                            </div>
                        </div>

                    </div>
                    <button class="btn" @onclick="() => DeleteTournament(data.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </div>
            }
        }

    </div>
</div>

<button type="button" class="btnAdd ripple btn btn-outline-primary shadow btn-circle btn-lg animate__animated animate__slideInUp" data-toggle="tooltip" data-placement="top" title="Add Item" @onclick="@(() => NavigationManager.NavigateTo("/CreateTournament"))">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
    </svg>
</button>

@code {
    private string _message = "Loading .... ";
    private List<Tournament> _tournaments;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadList();
    }

    private async Task LoadList()
    {
        _tournaments = await TrackingService.GetAllTournaments();
        if (_tournaments != null) { _tournaments = _tournaments.OrderByDescending(o => o.CreatedAt).ToList(); }
        else
        { _message = "No Data Found!"; }
    }

    private async Task DeleteTournament(string id)
    {
        await TrackingService.DeleteTournament(id);

        await LoadList();
    }

}