@page "/"
@inject IStringLocalizer<Language> Localizer
@inject NavigationManager NavigationManager
@inject LocationService LocationService
@inject AppState AppState

<div id="indexPage" class="d-flex flex-column w-100 overflow-hidden">

    <div class="d-flex flex-row flex-wrap w-100 mt-2 justify-content-center">
        @*<div>
            <img src="/images/MainPagePigImg.png" class="img-fluid user-select-stop animate__animated animate__backInLeft" width="350px" height="350px">
        </div>*@
        <div class="animate__animated animate__backInLeft mb-3 w-100">
            <div class="d-flex flex-column w-100 h-100 align-items-center justify-content-center">
                <h1>@Localizer["MainPageTitle"]</h1>
                <p>
                    @Localizer["MainPageContent"]
                </p>
                <div class="w-100">
                    <WeatherPanel Location="@_location"/>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center animate__animated animate__fadeIn animate__delay-1s">
        <div class="row px-2">
            <div class="col mx-0 px-0" @onclick='() => NavigationManager.NavigateTo($"/AllTournaments")'>
                <MyTile Text="@Localizer["TournamentType1"]" SvgClass="bi bi-trophy-fill"></MyTile>
            </div>
            <div class="col mx-0 px-0" @onclick='() => NavigationManager.NavigateTo("/AllTournaments")'>
                <MyTile Text="@Localizer["TrackingTileText"]" SvgClass="bi bi-activity"></MyTile>
            </div>
        </div>
        <div class="row pt-2 px-2">
            <div class="col  mx-0 px-0">
                <MyTile Text="@Localizer["InfoText"]" SvgClass="bi bi-info-circle"></MyTile>
            </div>
            <div class="col mx-0 px-0" @onclick='() => NavigationManager.NavigateTo("/PigeonsDiseases")'>
                <MyTile Text="@Localizer["PigeonsDiseasesAndCure"]" SvgClass="bi bi-capsule"></MyTile>
            </div>
        </div>
    </div>

    <div id="discover" class="w-100 mt-4 animate__animated animate__lightSpeedInRight animate__delay-2s">
        <div class="d-flex flex-row">
            <i class="bi bi-search-heart"></i>
            <h4 class="ms-2">Discover</h4>
        </div>
    </div>
</div>

@code {
    Location _location;

    protected async Task GetLocation()
    {
        if (AppState.Location == null || DateTime.Now.Subtract(AppState.LocationSetDatetime).Minutes > 30)
        {
            _location = await LocationService.GetLocationAsync();
            AppState.SetLocation(_location, DateTime.Now);
        }
        else
        {
            _location = AppState.Location;
        }

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            await base.OnAfterRenderAsync(first);
            await GetLocation();
        }
    }

}