@*<select class="form-control bg-dark text-light" style="width:100px;" @bind="SelectedValue">
    @foreach (var culture in PigeonsTrackerCultures)
    {
        <option value="@culture.CultureInfo">@culture.DisplayName</option>
    }
</select>*@
<EditForm Model="@SelectedValue">
<InputSelect id="language" class="form-control bg-dark text-light" style="width:100px;" @bind-Value="SelectedValue">
    @foreach (var culture in PigeonsTrackerCultures)
    {
        <option value="@culture.CultureInfo">@culture.DisplayName</option>
    }
</InputSelect>
</EditForm>