@inject NavigationManager Manager

@inject IStringLocalizer<Language> Localizer
@inject AppState AppState

<MudNavMenu>
    <div class="d-flex flex-row justify-content-center p-2 mb-1">
        <img src="icon-512.png" height="100" alt="PigeonsTracker"/>
    </div>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">@Localizer["HomePage"]</MudNavLink>

    <MudNavLink Href="/AllTournaments" Match="NavLinkMatch.Prefix" Icon="bi bi-trophy-fill bi-one">@Localizer["TournamentType1"]</MudNavLink>
    <MudNavGroup Icon="@Icons.Material.Filled.SportsGymnastics" Title="@Localizer["Private"]" Expanded="true">
        <MudNavLink Href="/MyPracticeView" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.MonitorHeart">@Localizer["TournamentType2"]</MudNavLink>
        <MudNavLink Href="/MyTournaments" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Ballot">@Localizer["MyTournaments"]</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/PigeonsDiseases" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.MedicalServices">@Localizer["PigeonsDiseasesAndCure"]</MudNavLink>
    <MudNavLink Href="/Information" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info">@Localizer["InfoText"]</MudNavLink>
    <MudNavLink Href="/ContactUs" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Call">@Localizer["Contact"]</MudNavLink>
    <MudNavLink Href="/Settings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings">@Localizer["Settings"]</MudNavLink>
</MudNavMenu>


@code
{
    protected override Task OnInitializedAsync()
    {
        Manager.LocationChanged += (sender, args) =>
        {
            Console.Write(args);
        };
        return Task.CompletedTask;
    }
}